#primeiraSegundaQuestao,#segundaSegundaQuestao,#terceiraQuestao,#perguntaFinal{
    display: none
}
.formulario{
    width: 940px;
    margin: 0 auto;
}
.pergunta{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
}
.resposta{
    display: inline-block;
    margin: 15px 0;
}
.respostaFinal{
    width: 50%;
    height: 20px;
    vertical-align: center ;
}
.botaoMais{
    height: 20px;
    display: inline;
    vertical-align: top;
}
#botaoEnviar{
    margin: 20px 0;
    height: 30px;
    width: 20%;
    font-size: 18px;
    display: block;
}