body{
    font-family: 'Montserrat', sans-serif;
}

.formulario, .botao{
    width: 940px;
    margin: auto;
}

.pergunta{
    display: block;
    font-weight: bold;
    margin: 30px 0;
    font-size: 20px;
}

.resposta{
    display: block;
    width: 30%;
    padding: 10px 0;
    font-size: 20px;
}

#botao-enviar{
    display: block;
    margin: 30px 0;
    padding: 10px;
    width: 15%;
}
#botao-enviar:hover{
    cursor: pointer;
}